.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -99;
}
/*
.holder {
  position: absolute;
  top: -100;
  left: 100;
  width: 700px;
  height: 200px;
  background: rgb(214, 241, 255);
  opacity: 0.3;
  z-index: 50;
  color: black;
  pointer-events: none;
  margin: auto;
  margin-left: 250px;
  margin-top: 300px;
}*/

.bar {
  z-index: 99;
  color: black;
  text-align: center;
  font-size: 8em;
  font-family: 'Quicksand', sans-serif;
}
.full_stack {
  z-index: 99;
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

html, body {
  height: 100%;
  margin: auto;
}

header {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

nav {
  z-index: 50;
  width: 100%;
  background: rgb(214, 241, 255);
  opacity: 0.5;
  height: 65px;
  text-align: left;
}

li {
  list-style-type: none;
  text-decoration: none;
}
