/*.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -99;
}*/
/*
.side-nav {
  margin-right: 1100px;
  float: left;
  background-color: #910d0d;
  background-color: rgba(145,13,13,.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 0;
}*/

/*.icon1, .icon2 {
  display: inline;
}*/

.icon {
  display: inline;
  margin: 0px;
  padding: 0px;
}

/*.video {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}


.video:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}*/

.profile {
/*  -webkit-border-image: 30px;
  -o-border-image: 30 round;*/
  /*border-image: url(border.png) 30 round;*/
  margin-left: 900px;
  margin-bottom: -500px;
  /*border-radius: 2000px;*/
  overflow: hidden;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.profile:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}


ul.images {
  margin: 100px;
  padding: 0;
  white-space: nowrap;
  width: 900px;
  overflow-x: auto;
  background-color: #ddd;
}

ul.images li {
  display: inline;
  width: 150px;
  height: 150px;
}

.bar {
  z-index: 99;
  text-align: center;
  font-size: 8em;
  font-family: 'Quicksand', sans-serif;
  color: #2db34a;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.bar:hover {
  color: #ff7b29;
  cursor: pointer;
}

.full_stack:hover {
  color: #2db34a;
  cursor: pointer;
}

.full_stack {
  z-index: 99;
  color: black;
  font-size: 30px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #ff7b29;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.scroll {
  font-family: 'Quicksand', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.scroll_div {
  width: 900px;
  overflow-x: auto;
  background-color: #ddd;
}

#transparency, #transparency1 {
  text-align: center;
}

#items {
  overflow-x: scroll;
  /*width: auto;*/
  white-space: nowrap;
  /*height: auto;*/
}

.arrow-down {
  color: white;
  text-decoration: none;
  text-align: center;
  z-index: 99;
}

  #bounce {
    position:fixed;
    left:50%;
    bottom:0;
    margin-top:-25px;
    margin-left:-25px;
    height:50px;
    width:50px;
    -webkit-animation:bounce 1s infinite;
    -moz-animation:bounce 1s infinite;
    -o-animation:bounce 1s infinite;
    animation:bounce 1s infinite;

  }

  @-webkit-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

   @-moz-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

   @-o-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

   @keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

html, body {
  height: 100%;
  margin: auto;
}

header {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: -100;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

nav {
  z-index: 50;
  width: 100%;
  background: rgb(214, 241, 255);
  opacity: 0.5;
  height: 65px;
  text-align: left;
}

li {
  list-style-type: none;
  text-decoration: none;
}
